@use '../abstracts/variables' as *;

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 0;

    @media (max-width: $bp-lg) {
        padding-top: $space-16;
        padding-bottom: $space-16;
    }
}

.main {
    padding-top: 96px;

    @media (max-width: $bp-lg) {
        padding-top: $space-16;
    }
}

.container--faq {
    max-width: 768px;

    @media (max-width: $bp-lg) {
        padding-inline: $container-padding-mobile;
    }
}