@use '../abstracts/variables' as *;

.faq {
  background-color: $color-brand-700;
}

.faq__title {
  color: $color-white;
  text-align: center;
  margin-bottom: $space-5;
}

.faq__subtitle {
  text-align: center;
  margin-bottom: $space-16;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: $color-text-tertiary;
}

.faq__item {
  padding-top: $space-6;
  padding-bottom: $space-8;
  border-bottom: 1px solid $color-border-faq;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
}

.faq__item-heading {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: $color-white;
}

.faq__trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  text-align: left;
  gap: $space-4;
}

.faq__icon {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;

  .faq__icon-plus,
  .faq__icon-minus {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .faq__icon-minus {
    display: none;
  }
}

.faq__trigger[aria-expanded="true"] .faq__icon-plus {
  display: none;
}

.faq__trigger[aria-expanded="true"] .faq__icon-minus {
  display: block;
}

.faq__answer {
  margin-top: $space-2;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;

  &.faq__answer--open {
    max-height: 500px;
    opacity: 1;
  }
}

.faq__answer-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $color-text-tertiary;
}